streamlit==1.51.0
streamlit-tags==1.2.8
pandas==2.3.3
numpy==1.26.4
matplotlib==3.10.6
seaborn==0.13.2
altair==5.5.0
pythainlp==5.1.2
sentence-transformers==5.1.2
torch==2.8.0
transformers==4.57.1
tensorflow-macos==2.14.0
tensorflow-metal==1.2.0
tensorflow==2.14.0
tqdm==4.67.1
scikit-learn==1.7.2
wordcloud==1.9.4
